doctype html
html(lang="en")
head
    link(rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.4/css/all.css")
    title Pizza order
body
    .container
        .header
            .top-time
                time#time
            .top-logo 
                img.top-logo__img(src=require('./images/pizza-logo2.png'))
            .top-right-info                
                a.login(href="#login")
                    i.fas.fa-user(aria-hidden='true')
                    | &nbsp;&nbsp;login
                     
        .main#main-container  

        footer.footer
            .left-info
                p Kottans, Kottans Str.1 tel: 577-788-88
            .right-info
                p Pizza Manager © 2018
