doctype html
html(lang="en")
head
    link(rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.4/css/all.css")
    title Pizza order
body
    .container
        .header
            .top-time
                time#time
            .top-logo 
                img.top-logo__img(src=require('./images/pizza-logo.png'))
            .top-right-info
                a.login(href="#login") login
                     
        .main#main-container 
            form.registration-form
                span.registration-form__title login
                input(type='text', placeholder='Name')
                input(type='text', placeholder='login')
                input(type='text', placeholder='password')
                button.btn-registration(type="button") login
                p.message
                    | Already registered?
                    a(href='#registration')  &nbsp;Registration 

        footer.footer
            .left-info
                p Kottans, Kottans Str.1 tel: 577-788-88
            .right-info
                p Pizza Manager © 2018
