doctype html
html(lang="en")
head
    link(rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.4/css/all.css")
    title Pizza order
body
    .container
        .header
            .top-time
                time 12:12:12
            .top-logo 
                img(src=require('./images/captainamerica.png'))
            .top-right-info
                a.login(href="#") login
                    //- i.fas.fa-user(aria-hidden="true") &nbsp;&nbsp;login
                     
        .main#main-container 
            form.registration-form
                span.registration-form__title registration
                input(type='text', placeholder='Name')
                input(type='text', placeholder='login')
                input(type='text', placeholder='password')
                button.btn-registration registration
                p.message
                    | Already registered?
                    a(href='#login')  Login 

        footer.footer
            .left-info
                p Kottans, Kottans Str.1 tel: 577-788-88
            .right-info
                p Pizza Manager © 2018
