doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title Document
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')
	body
		.container
			.row.row.justify-content-md-center
				.col-sm
					.main-info
						.menu-info
							a.menu-link(href='#')
								i.material-icons location_on
							a.menu-link(href='#') C°
							a.menu-link(href='#') F°
						.favorite-cities-info
							#favorite-cities-info.cities
							.row.justify-content-md-center
								.col-md-auto
									.input-search.center
										input#input_search(type='search', name='search', placeholder='Search city')
						#current-city-info.city-info
						.period-info
							// Nav tabs
							ul#myTab.nav.nav-tabs(role='tablist')
								li.nav-item
									a#today-tab.nav-link.active(data-toggle='tab', href='#today', role='tab', aria-controls='today', aria-selected='true') 3 days
								li.nav-item
									a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') 10 days
							// Tab panes
							.tab-content
								#today.tab-pane.active(role='tabpanel', aria-labelledby='today-tab')
									table.tb-city-info
										tbody#tb-cities3-info
								#profile.tab-pane(role='tabpanel', aria-labelledby='profile-tab')
									table.tb-city-info
										tbody#tb-cities10-info
		script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
