body {
    background: url(../images/bcg.jpg) no-repeat;
    background-size: cover; 
    padding: 50px;
    color: #D1CECA;
    font-family: 'Muli', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

.main-info {
    display: grid;
    grid-template-columns: 2fr 7fr 19fr;
    grid-template-areas:
    "menu-info favorite-cities-info favorite-cities-info"
    "menu-info city-info period-info";
    box-shadow: 0 0 10px rgba(0,0,8,0.8);
}

.menu-info {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #32132A;
    flex-direction: column;
    grid-area: menu-info;
}

    .menu-link {
        color: #D6D6D5;
        text-align: center;
        font-size: 20px;
        padding: 10px 0;
    }

    .menu-link:active,
    .menu-link:hover {
        color: #F4FF00;
        text-decoration: none;        
    }

.favorite-cities-info {
    background: url(../images/city.jpg) no-repeat;
    
    background-size: 100%;    
    grid-area: favorite-cities-info;
    padding-bottom: 30px;
    color: #FFFFFD;
}

.cities {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 30px 30px;
    
}

.city-block {
    display: inline-flex;
    align-items: center;
}

    .div__fav-city-info {
        display: inline;
    }

    .fav-city-info {
        display: inline;
        margin-left: 15px;
    }

        .fav-city-name {
            font-size: 17px;
        }
        .fav-city-name2 {
            font-size: 18px;
        }
        .fav-city-name3 {
            font-size: 19px;
        }

        .fav-city-des,
        .fav-city-des2,
        .fav-city-des3 {
            color: #F4FF00;
        }
        
        .fav-city-des {
            font-size: 10px;            
        }
        .fav-city-des2 {
            font-size: 11px;
        }
        .fav-city-des3 {
            font-size: 12px;
        }
        
        .fav-city-degree {
            font-size: 25px;
        }
        .fav-city-degree2 {
            font-size: 27px;
        }
        .fav-city-degree3 {
            font-size: 32px;
        }

        .degree-size {
            font-size: 13px;
        }
        .degree-size2 {
            font-size: 15px;
        }
        .degree-size3 {
            font-size: 17px;
        }

    .fav-city {
        width: 77px;
        height: 87px;
        --webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

    .fav-city2 {
        width: 88px;
        height: 98px;
    }

    .fav-city-active,
    .fav-city:active {
        width: 104px;
        height: 114px;
    }       

    .input-search {
        margin: 0px auto;   
        display: block;     
    }

    input {
        text-align: center;
        padding: 20px;
        border: none;
        outline: none;
        background-color: #32132A !important;
        opacity: 0.8;
        color: #D6D6D5;  
        width: 700px; 
        font-size: 17px;     
    } 

.city-info {   
    background-size: cover;
    background-image: url(../images/main-city.jpg), linear-gradient(45deg, #32132A, #863432);
    background-blend-mode: darken;
    
    grid-area: city-info;
    padding: 20px;
    text-align: center;
}

.city-info p {
    line-height: 0.9;
}

.tb-city-info {
    margin: auto;
}

    .add-favorite-city {
        color: #F4FF00;
    }
    .main-city {
        font-size: 35px;
    }

    .time {
        font-size: 30px;
        text-transform: lowercase;
    }

    .date {
        font-size: 19px;
    }

    .main-day {
        color: #D10B42;
        font-size: 25px;
        text-align: center;
    }

    .main-icon {
        font-size: 64px;
        font-weight: 200;
    }

    .main-day-degree {
        font-size: 26px;
    }

    .day {
        color: #D10B42;
        font-size: 20px;
        text-align: right;
    }
    
        .day-degree {
            color: #958785;
            text-align: left;
            font-size: 15px;
            padding-left: 20px;
            /* vertical-align: middle; */
        }
        

.period-info {
    background-color: #342135;
    opacity: 0.9;
    grid-area: period-info;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #D1CECA;;
    background-color: #342135;
}

.nav-link,
.nav-link:hover {
    color: #D1CECA;
}

.nav-tabs {
    font-size: 20px;
    color: #D1CECA;;
    background-color: #342135;
} 